**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.lock.hcl
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.terraform.lock.hcl
.DS_Store
Thumbs.db
.vscode/
.idea/
